{% extends "base.html" %}

{% block content %}

<div class="container min-w-72 mx-auto">
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend class="mx-auto text-lg p-4"><h1>{{ question.question_text }}</h1></legend>

            <div class="mx-auto max-w-fit">
                {% for choice in question.choice_set.all %}
                <div class="form-control">
                    <label class="label cursor-pointer" for="choice{{ forloop.counter }}">
                        <span class="label-text text-lg mx-4">{{ choice.choice_text }}</span>
                        <input type="radio" class="radio radio-secondary" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    </label><br>
                </div>
                {% endfor %}
            </div>

        </fieldset>
        <div class="mx-auto p-4 flex justify-center">
            <input class="btn btn-outline btn-primary btn-wide" type="submit" value="Vote">
        </div>
        {% if error_message %}
        <div class="mx-auto text-sm text-red-600 flex justify-center">
            <p>{{ error_message }}</p>
        </div>
        {% endif %}
    </form>
</div>

{% endblock %}