{% extends "base.html" %}

{% block content %}

<div class="container min-w-72 mx-auto my-auto min-h-screen flex justify-center items-center">
    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li class="m-4">
            <a class="link-secondary" href="{% url 'polls:detail' question.id %}">
                <span class="underline">{{ question.question_text }}</span>
                <span class="align-bottom no-underline">⟶</span>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</div>


{% endblock %}